@import url("../css/01reseteosYvariables.css");
@import url("../css/02botones.css");

/* modificacion del btn para no hacerlo en la hoja general aunque quedaria mas util */

.btn {
    font-size: 12px;
    padding: 10px 14px;
    letter-spacing: 0;
}

/*------ESTILOS ESTA PAGINA SUPER PEQUEÑO hasta 375px--------------------*/
body {
    max-width: 1200px;
    margin: 150px 0.5rem 0.5rem;
}

.msn-sorry {
    max-width: 488px;
    margin: auto;
}

.msn-sorry h2 {
    color: var(--color-blueSURA);
}

.msn-sorry a {
    margin: 1rem auto;
}

.container-error {
    margin: auto;
}

.img-sorry img {
    display: block;
    margin: auto;
}

/*--------------ESTILOS TAMAÑO MOBILE MAYOR A 375px --------------------*/
/* en el diseno mobile first se utiliza "min-width" a diferencia de desktop first que se usa "max-width" para realizar las media querys */

@media screen and (min-width: 375px) {
    .btn {
        font-size: 13px;
        padding: 12px 16px;
        letter-spacing: initial;
    }
}

@media screen and (min-width: 996px) {
    .container-error {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .btn {
        font-size: 1rem;
        padding: 12px 26px;
    }
}